.viewMap_Tools {
	/*border: 1px solid orange;*/
	height: 2.5em;
	width: 90vw;
	display: inline-flex;
	flex-direction: row;
	align-content: space-between;
	align-items: bottom;
	margin-bottom: 0.8em;
}

.viewMap_Tools_buttons_group {
	width: 40%;
}

.viewMap_Tools_buttons {
	width: 2em;
	height: 2em;
	border: none;
}

#viewMap_Tools_button_edit{
	background: url(/../../../../img/PictoEdit.svg) 0 0 no-repeat;
	background-size: contain;
	background-position: center;
	margin-right: 1em;
}

#viewMap_Tools_button_export{
	background: url(/../../../../img/PictoExport.svg) 0 0 no-repeat;
	background-size: contain;
	background-position: center;
	margin-right: 0.9em;
}

#viewMap_Tools_button_share{
	background: url(/../../../../img/PictoShare.svg) 0 0 no-repeat;
	background-size: contain;
	background-position: center;
}

.toolbar {
	width: 66%;
	text-align: right;
}

.toolbar_zoom {
	height: 2em;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.toolbar_zoom_range {
	margin-top: 0.4em;
	padding: 0;
	width: 80em;
	height: auto;
	display: inline;
}

#range_ViewMap_zoom[type='range'] {
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
}

.toolbar_zoom_valuesContainer{
	width: 90%;
	height: 1.2em;
	display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.viewMap_Infos {
	/*border: 1px solid orange;*/
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	width: 100%;
	height: 4em;
	margin: 1em, 0;
	padding-top: 0.7em;
	font-size: 1.2em;
	background-color: none;
}

.viewMap_container_TripName {
	margin-right: 2em;
	font-weight: 400;
	font-size: 0.6em;
}

.viewMap_container {
	/*border: 1px solid yellow;*/
	display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;  
}

.viewMap_container_MapLegend {
	border: 1px solid red;
	position: relative;
	display: inline-flex;
	flex-direction: column;
	align-content: space-between;
	align-items: center;
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.viewMap_mapFond {
	background: url(/../../../../img/fondCarte.svg) 0 0 no-repeat;
	background-size: contain;
	width: 92vw;
	height: 52vh;
}

.viewMap_map {
	/*border: 1px solid red;*/
	/* */
	margin: auto;
	top: 4.8%;
	width: 90%;
	height: 90%;
}

.viewMap_map_element {
	/*border: 1px solid blue;*/
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/*border: 3px solid red;
}

.Legend {
	/*border: 1px solid aqua;
	background-color: var(--txt-color);
	opacity: 0.2;
	width: 100%;
    height: 18vh;
	/*position: relative;*/
}

.ViewMap_container_buttons_submit {
	/*border : 1px solid orange;	*/
	background-color: var(--txt-color);
	border: none;
	text-decoration-style: none;
	transition-duration: 0.2s;
	width: 100%;
	padding: 0.5em 1em;
	font-size: 1em;
	margin-top: 1.5vh;
}

/* Medium screen, retina */
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 670px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 670px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 670px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 670px),
only screen and (                min-resolution: 192dpi) and (min-width: 670px),
only screen and (                min-resolution: 2dppx)  and (min-width: 670px) {

	.viewMap_Infos {
		height: 4em;
	}

	.viewMap_Tools {
		/*border: 1px solid red;*/
		width: 70vw;
		height: 3.5em;
	}

	.viewMap_Tools_buttons_group {
		width: 33%;
	}

	.viewMap_Tools_buttons, .previewToolbar_navig {
		width: 3em;
		height: 3em;
	}

	.ViewMapToolbar_zoom {
		width: 66%;
	}


	.ViewMapToolbar_zoom_range {
		margin-top: 0.5em;
	}

	.toolbar_zoom_valuesContainer {
		font-size: 1.4em;
	}

	.viewMap_container_MapLegend {
		/*border: 1px solid red;*/
		display: inline-flex;
		flex-direction: column;
		width: 100%;
		height: 80vh;
		margin: 0;
		padding: 0;
	}

	.viewMap_mapFond {
		background: url(/../../../../img/fondCarte.svg) 0 0 no-repeat;
		background-size: contain;
		width: 70vw;
		height: 52.8vh;
	}

	.Legend { 
		background-color: var(--txt-color);
		opacity: 0.2;
		margin-right: 1.5%;
	}

	.ViewMap_container_buttons_submit {
		/*border : 1px solid orange;	*/
		background-color: var(--txt-color);
		border: none;
		text-decoration-style: none;
		transition-duration: 0.2s;
		width: 100%;
		padding: 0.5em 1em;
		font-size: 1em;
		margin-top: 1vh;
		margin-bottom: 0.5vh;
	}

}

/* Large screen, non-retina */
@media only screen and (min-width: 1000px) {

	.viewMap_Tools {
		width: 70vw;
	}

	.viewMap_container_MapLegend {
		display: inline-flex;
		flex-direction: row;
		width: 100%;
		height: max-content;
		margin: 0;
		padding: 0;
	}

	.viewMap_mapFond {
		background: url(/../../../../img/fondCarteL.svg) 0 0 no-repeat;
		background-size: contain;
		width: 70vw;
		height: 63.5vh;
	}

	.Legend {
		width: 25%;
		height: auto;
		margin-right: 0%;
	}
}

/* Large screen */
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1300px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (                min-resolution: 192dpi) and (min-width: 1300px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1300px) { 

	.viewMap_mapFond {
		border: 1px solid red;
		background: url(/../../../../img/fondCarteL.svg) 0 0 no-repeat;
		background-size: contain;
		width: 67vw;
		height: 72.7vh;
	}

}