<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1> test </h1>
<div>
	<svg id="blocEventWrapper0" viewBox="97.005 235.82 367 387" preserveAspectRatio="xMidYMid">
		<g class="blocEvent">
			<defs>
				<radialGradient id="grad0">
					<stop offset="15%" stop-color="#482e1f"></stop>
					<stop offset="100%" stop-color="#482e1f" stop-opacity="0"></stop>
				</radialGradient>
				<radialGradient id="grad1">
					<stop offset="15%" stop-color="#cda070"></stop>
					<stop offset="100%" stop-color="#cda070" stop-opacity="0"></stop>
				</radialGradient>
				<radialGradient id="grad2">
					<stop offset="15%" stop-color="#c80b49"></stop>
					<stop offset="100%" stop-color="#c80b49" stop-opacity="0"></stop>
				</radialGradient>
				<radialGradient id="grad3">
					<stop offset="15%"></stop>
					<stop offset="100%" stop-opacity="0"></stop>
				</radialGradient>
				<radialGradient id="grad4">
					<stop offset="15%"></stop>
					<stop offset="100%" stop-opacity="0"></stop>
				</radialGradient>
			</defs>
			<g id="feelingsGroup">
				<circle id="feeling1" class="colorCircle" r="11" fill="url(#grad0)" cx="277.75" cy="292.75" transform="rotate(0, 275, 290)"></circle>
				<circle id="feeling2" class="colorCircle" r="11" fill="url(#grad1)" cx="277.75" cy="292.75" transform="rotate(253, 275, 290)"></circle>
				<circle id="feeling3" class="colorCircle" r="8.25" fill="url(#grad2)" cx="277.75" cy="292.75" transform="rotate(432, 275, 290)"></circle>
				<circle id="feeling4" class="colorCircle" r="0" fill="url(#grad3)" cx="277.75" cy="292.75" transform="rotate(0, 275, 290)"></circle>
				<circle id="feeling5" class="colorCircle" r="0" fill="url(#grad4)" cx="277.75" cy="292.75" transform="rotate(0, 275, 290)"></circle>
			</g>
		</g>
	</svg>
</div>
<div>
	<svg id="blocEventWrapper2" viewBox="-90.16500000000002 282.26 367 387" preserveAspectRatio="xMidYMid">
		<defs>
			<radialGradient id="grad5">
				<stop offset="15%"></stop>
				<stop offset="100%" stop-opacity="0"></stop>
			</radialGradient>
			<radialGradient id="grad6">
				<stop offset="15%"></stop>
				<stop offset="100%" stop-opacity="0"></stop>
			</radialGradient>
			<radialGradient id="grad7">
				<stop offset="15%" stop-color="#df024f"></stop>
				<stop offset="100%" stop-color="#df024f" stop-opacity="0"></stop>
			</radialGradient>
			<radialGradient id="grad8">
				<stop offset="15%" stop-color="#85b8b4"></stop>
				<stop offset="100%" stop-color="#85b8b4" stop-opacity="0"></stop>
			</radialGradient>
			<radialGradient id="grad9">
				<stop offset="15%"></stop>
				<stop offset="100%" stop-opacity="0"></stop>
			</radialGradient>
		</defs>
		<g id="feelingsGroup">
			<circle id="feeling1" class="colorCircle" r="0" fill="url(#grad5)" cx="277.75" cy="292.75" transform="rotate(0, 275, 290)"></circle>
			<circle id="feeling2" class="colorCircle" r="0" fill="url(#grad6)" cx="277.75" cy="292.75" transform="rotate(0, 275, 290)"></circle>
			<circle id="feeling3" class="colorCircle" r="11" fill="url(#grad7)" cx="277.75" cy="292.75" transform="rotate(462, 275, 290)"></circle>
			<circle id="feeling4" class="colorCircle" r="8.25" fill="url(#grad8)" cx="277.75" cy="292.75" transform="rotate(246, 275, 290)"></circle>
			<circle id="feeling5" class="colorCircle" r="0" fill="url(#grad9)" cx="277.75" cy="292.75" transform="rotate(0, 275, 290)"></circle>
		</g>
	</svg>
</div>
<div>
	<svg id="blocEventWrapper1" viewBox="128.2 -42.81999999999999 367 387" preserveAspectRatio="xMidYMid">
	<svg class="blocEvent"></svg>
		<defs>
			<radialGradient id="grad10">
				<stop offset="15%" stop-color="#f6e401"></stop>
				<stop offset="100%" stop-color="#f6e401" stop-opacity="0"></stop>
			</radialGradient>
			<radialGradient id="grad11">
				<stop offset="15%" stop-color="#443d20"></stop>
				<stop offset="100%" stop-color="#443d20" stop-opacity="0"></stop>
			</radialGradient>
			<radialGradient id="grad12">
				<stop offset="15%"></stop>
				<stop offset="100%" stop-opacity="0"></stop>
			</radialGradient>
			<radialGradient id="grad13">
				<stop offset="15%"></stop>
				<stop offset="100%" stop-opacity="0"></stop>
			</radialGradient>
			<radialGradient id="grad14">
				<stop offset="15%"></stop>
				<stop offset="100%" stop-opacity="0"></stop>
			</radialGradient>
		</defs>
		<g id="feelingsGroup">
			<circle id="feeling1" class="colorCircle" r="11" fill="url(#grad10)" cx="277.75" cy="292.75" transform="rotate(0, 275, 290)"></circle>
			<circle id="feeling2" class="colorCircle" r="13.75" fill="url(#grad11)" cx="277.75" cy="292.75" transform="rotate(252, 275, 290)"></circle>
			<circle id="feeling3" class="colorCircle" r="0" fill="url(#grad12)" cx="277.75" cy="292.75" transform="rotate(0, 275, 290)"></circle>
			<circle id="feeling4" class="colorCircle" r="0" fill="url(#grad13)" cx="277.75" cy="292.75" transform="rotate(0, 275, 290)"></circle>
			<circle id="feeling5" class="colorCircle" r="0" fill="url(#grad14)" cx="277.75" cy="292.75" transform="rotate(0, 275, 290)"></circle>
		</g>
		</g>
	</svg>
</div>
</body>
</html>